In [1]:
# import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
data = pd.read_csv("data_Q036.csv")
data.describe()

,YearStart,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Number_people
count,14367.000000,14367.000000,14367.000000,14367.000000,14367.000000,14367.000000,14367.000000
mean,2016.024988,30.469124,30.469124,26.086177,35.466235,3175.307232,944.092016
std,3.154388,7.376554,7.376554,7.199044,8.518355,15324.617387,4449.192313
min,2011.000000,0.900000,0.900000,0.300000,3.000000,50.000000,1.000000
25%,2013.000000,26.500000,26.500000,22.450000,30.250000,494.000000,151.000000
50%,2016.000000,30.900000,30.900000,26.900000,35.200000,1045.000000,334.000000
75%,2019.000000,35.200000,35.200000,30.900000,40.500000,2175.500000,654.000000
max,2021.000000,60.400000,60.400000,49.800000,77.900000,371669.000000,97581.000000

In [30]:
data.head(20)

,YearStart,LocationAbbr,Class,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Age(years),Education,...,Race/Ethnicity,GeoLocation,ClassID,TopicID,QuestionID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1,Number_people
0,2011,AK,Obesity / Weight Status,29.2,29.2,25.2,33.5,735,45 - 54,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Age (years),45 - 54,AGEYR,AGEYR4554,215
1,2011,AK,Obesity / Weight Status,23.5,23.5,18.6,29.2,451,25 - 34,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Age (years),25 - 34,AGEYR,AGEYR2534,106
2,2011,AK,Obesity / Weight Status,29.5,29.5,24.5,35.0,562,35 - 44,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Age (years),35 - 44,AGEYR,AGEYR3544,166
3,2011,AK,Obesity / Weight Status,29.3,29.3,24.1,35.0,600,65 or older,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Age (years),65 or older,AGEYR,AGEYR65PLUS,176
4,2011,AK,Obesity / Weight Status,33.4,33.4,29.1,38.0,776,55 - 64,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Age (years),55 - 64,AGEYR,AGEYR5564,260
5,2011,AK,Obesity / Weight Status,19.8,19.8,13.4,28.4,212,18 - 24,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Age (years),18 - 24,AGEYR,AGEYR1824,42
6,2011,AK,Obesity / Weight Status,28.8,28.8,21.4,37.6,245,NaN,Less than high school,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Education,Less than high school,EDU,EDUHS,71
7,2011,AK,Obesity / Weight Status,22.1,22.1,19.1,25.5,1150,NaN,College graduate,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Education,College graduate,EDU,EDUCOGRAD,255
8,2011,AK,Obesity / Weight Status,33.1,33.1,28.8,37.7,981,NaN,High school graduate,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Education,High school graduate,EDU,EDUHSGRAD,325
9,2011,AK,Obesity / Weight Status,25.8,25.8,22.3,29.6,954,NaN,Some college or technical school,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Education,Some college or technical school,EDU,EDUCOTEC,247
10,2011,AK,Obesity / Weight Status,28.0,28.0,24.9,31.3,1620,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Gender,Male,GEN,MALE,454
11,2011,AK,Obesity / Weight Status,26.7,26.7,23.9,29.7,1716,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Gender,Female,GEN,FEMALE,459
12,2011,AK,Obesity / Weight Status,24.5,24.5,18.3,32.0,397,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Income,"$35,000 - $49,999",INC,INC3550,98
13,2011,AK,Obesity / Weight Status,26.9,26.9,23.5,30.7,1109,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Income,"$75,000 or greater",INC,INC75PLUS,299
14,2011,AK,Obesity / Weight Status,32.2,32.2,23.1,42.9,224,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Income,"$25,000 - $34,999",INC,INC2535,73
15,2011,AK,Obesity / Weight Status,30.2,30.2,24.1,37.2,377,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Income,"$15,000 - $24,999",INC,INC1525,114
16,2011,AK,Obesity / Weight Status,27.8,27.8,23.3,32.9,524,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Income,"$50,000 - $74,999",INC,INC5075,146
17,2011,AK,Obesity / Weight Status,22.7,22.7,17.5,28.8,434,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Income,Data not reported,INC,INCNR,99
18,2011,AK,Obesity / Weight Status,33.6,33.6,25.4,42.9,271,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Income,"Less than $15,000",INC,INCLESS15,92
19,2011,AK,Obesity / Weight Status,30.9,30.9,25.7,36.6,477,NaN,NaN,...,American Indian/Alaska Native,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA,148

In [4]:
columns = data.columns
for col in columns:
    print(col)

YearStart
LocationAbbr
Class
Data_Value
Data_Value_Alt
Low_Confidence_Limit
High_Confidence_Limit
Sample_Size
Age(years)
Education
Gender
Income
Race/Ethnicity
GeoLocation
ClassID
TopicID
QuestionID
StratificationCategory1
Stratification1
StratificationCategoryId1
StratificationID1
Number_people

In [5]:
cat_variable = ['Age(years)','Education', 'Gender', 'Income','Race/Ethnicity']
for var in cat_variable:
    print(var)

Age(years)
Education
Gender
Income
Race/Ethnicity

In [6]:
one_hot_cncoded = pd.get_dummies(data[cat_variable], dummy_na = True)

In [7]:
one_hot_cncoded

,Age(years)_18 - 24,Age(years)_25 - 34,Age(years)_35 - 44,Age(years)_45 - 54,Age(years)_55 - 64,Age(years)_65 or older,Age(years)_nan,Education_College graduate,Education_High school graduate,Education_Less than high school,...,Income_nan,Race/Ethnicity_2 or more races,Race/Ethnicity_American Indian/Alaska Native,Race/Ethnicity_Asian,Race/Ethnicity_Hawaiian/Pacific Islander,Race/Ethnicity_Hispanic,Race/Ethnicity_Non-Hispanic Black,Race/Ethnicity_Non-Hispanic White,Race/Ethnicity_Other,Race/Ethnicity_nan
0,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14362,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14363,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14364,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14365,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
14366,0,0,0,0,0,0,1,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [8]:
data = data.drop(cat_variable, axis = 1)

In [9]:
f_data = data.join(one_hot_cncoded)

In [10]:
for var in f_data:
    print(var)

YearStart
LocationAbbr
Class
Data_Value
Data_Value_Alt
Low_Confidence_Limit
High_Confidence_Limit
Sample_Size
GeoLocation
ClassID
TopicID
QuestionID
StratificationCategory1
Stratification1
StratificationCategoryId1
StratificationID1
Number_people
Age(years)_18 - 24
Age(years)_25 - 34
Age(years)_35 - 44
Age(years)_45 - 54
Age(years)_55 - 64
Age(years)_65 or older
Age(years)_nan
Education_College graduate
Education_High school graduate
Education_Less than high school
Education_Some college or technical school
Education_nan
Gender_Female
Gender_Male
Gender_nan
Income_$15,000 - $24,999
Income_$25,000 - $34,999
Income_$35,000 - $49,999
Income_$50,000 - $74,999
Income_$75,000 or greater
Income_Data not reported
Income_Less than $15,000
Income_nan
Race/Ethnicity_2 or more races
Race/Ethnicity_American Indian/Alaska Native
Race/Ethnicity_Asian
Race/Ethnicity_Hawaiian/Pacific Islander
Race/Ethnicity_Hispanic
Race/Ethnicity_Non-Hispanic Black
Race/Ethnicity_Non-Hispanic White
Race/Ethnicity_Other
Race/Ethnicity_nan

In [21]:
features = ['YearStart','Age(years)_18 - 24', 'Age(years)_25 - 34','Age(years)_35 - 44', 'Age(years)_45 - 54', 'Age(years)_55 - 64', 'Education_College graduate','Education_High school graduate', 'Education_Less than high school',
       'Education_Some college or technical school', 'Gender_Female', 'Income_$15,000 - $24,999', 'Income_$25,000 - $34,999',
       'Income_$35,000 - $49,999', 'Income_$50,000 - $74,999','Income_Less than $15,000', 'Race/Ethnicity_2 or more races','Race/Ethnicity_American Indian/Alaska Native', 'Race/Ethnicity_Asian',
       'Race/Ethnicity_Hispanic','Race/Ethnicity_Non-Hispanic Black']
"""features = ['YearStart','Age(years)_18 - 24', 'Age(years)_25 - 34','Age(years)_35 - 44', 'Age(years)_45 - 54', 'Age(years)_55 - 64',
       'Education_College graduate','Education_High school graduate', 'Education_Less than high school',
       'Education_Some college or technical school', 'Income_$15,000 - $24,999', 'Income_$25,000 - $34,999',
       'Income_$35,000 - $49,999', 'Income_$50,000 - $74,999','Income_$75,000 or greater', 'Income_Data not reported','Income_Less than $15,000', 'Race/Ethnicity_2 or more races','Race/Ethnicity_American Indian/Alaska Native', 'Race/Ethnicity_Asian',
       'Race/Ethnicity_Hawaiian/Pacific Islander', 'Race/Ethnicity_Hispanic','Race/Ethnicity_Non-Hispanic Black','Race/Ethnicity_Non-Hispanic White', 'Race/Ethnicity_Other']"""
X = f_data[features]

In [22]:
y = f_data['Data_Value']

In [23]:
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [24]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X, i) for i in range(X.shape[1])]
vif["features"] = features

In [25]:
vif

    VIF Factor                                      features
0     4.527894                                     YearStart
1     1.185629                            Age(years)_18 - 24
2     1.185629                            Age(years)_25 - 34
3     1.185629                            Age(years)_35 - 44
4     1.185629                            Age(years)_45 - 54
5     1.185629                            Age(years)_55 - 64
6     1.185629                    Education_College graduate
7     1.185629                Education_High school graduate
8     1.185629               Education_Less than high school
9     1.185629    Education_Some college or technical school
10    1.185629                                 Gender_Female
11    1.185629                      Income_$15,000 - $24,999
12    1.185629                      Income_$25,000 - $34,999
13    1.185629                      Income_$35,000 - $49,999
14    1.185313                      Income_$50,000 - $74,999
15    1.185629                      Income_Less than $15,000
16    1.170190                Race/Ethnicity_2 or more races
17    1.122269  Race/Ethnicity_American Indian/Alaska Native
18    1.121653                          Race/Ethnicity_Asian
19    1.180584                       Race/Ethnicity_Hispanic
20    1.149073             Race/Ethnicity_Non-Hispanic Black

In [27]:
#corr_matrix = f_data[["Age(years)_65 or older","Data_Value"] ].corr(f_data["Data_Value"])
corr_matrix = f_data.corr()
corr_matrix[abs(corr_matrix["Data_Value"]) >0.09].index
#corr_matrix

C:\Users\sanga\AppData\Local\Temp\ipykernel_12524\199304019.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = f_data.corr()

Index(['YearStart', 'Data_Value', 'Data_Value_Alt', 'Low_Confidence_Limit',
       'High_Confidence_Limit', 'Age(years)_18 - 24', 'Age(years)_35 - 44',
       'Age(years)_45 - 54', 'Age(years)_55 - 64',
       'Education_College graduate', 'Education_Less than high school',
       'Income_$15,000 - $24,999', 'Income_Data not reported',
       'Income_Less than $15,000',
       'Race/Ethnicity_American Indian/Alaska Native', 'Race/Ethnicity_Asian',
       'Race/Ethnicity_Non-Hispanic Black'],
      dtype='object')

In [17]:
#corr_features = ['YearStart', 'Age(years)_18 - 24','Age(years)_35 - 44', 'Age(years)_45 - 54', 'Age(years)_55 - 64','Education_College graduate', 'Education_Less than high school','Income_$15,000 - $24,999','Income_Less than $15,000','Race/Ethnicity_American Indian/Alaska Native', 'Race/Ethnicity_Asian','Race/Ethnicity_Non-Hispanic Black']

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [29]:
model.fit(X_train, y_train)

LinearRegression()

In [31]:
# Predict the outcome variable for the testing data
y_pred = model.predict(X_test)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print("Mean Absolute Error: {:.2f}".format(mae))
print("Mean Squared Error: {:.2f}".format(mse))
print("Root Mean Squared Error: {:.2f}".format(rmse))
print("R-squared: {:.2f}".format(r2))

Mean Absolute Error: 3.72
Mean Squared Error: 23.66
Root Mean Squared Error: 4.86
R-squared: 0.57

In [32]:
import statsmodels.api as sm

In [33]:
# Create a new matrix of predictors with a constant column added
X_new = sm.add_constant(X)

# Create a new linear regression model using statsmodels
model_sm = sm.OLS(y, X_new).fit()

# Print the summary of the model to get the p-values
model_sm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             Data_Value   R-squared:                       0.581
Model:                            OLS   Adj. R-squared:                  0.580
Method:                 Least Squares   F-statistic:                     946.8
Date:                Sun, 30 Apr 2023   Prob (F-statistic):               0.00
Time:                        08:46:53   Log-Likelihood:                -42848.
No. Observations:               14367   AIC:                         8.574e+04
Df Residuals:                   14345   BIC:                         8.591e+04
Df Model:                          21
Covariance Type:            nonrobust
================================================================================================================
                                                   coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------
const                                        -1183.6004     25.483    -46.446      0.000   -1233.551   -1133.650
YearStart                                        0.6010      0.013     47.549      0.000       0.576       0.626
Age(years)_18 - 24                             -10.3468      0.214    -48.256      0.000     -10.767      -9.927
Age(years)_25 - 34                               0.7851      0.214      3.662      0.000       0.365       1.205
Age(years)_35 - 44                               5.8033      0.214     27.066      0.000       5.383       6.224
Age(years)_45 - 54                               7.8148      0.214     36.448      0.000       7.395       8.235
Age(years)_55 - 64                               6.7323      0.214     31.399      0.000       6.312       7.153
Education_College graduate                      -3.6845      0.214    -17.184      0.000      -4.105      -3.264
Education_High school graduate                   4.3254      0.214     20.173      0.000       3.905       4.746
Education_Less than high school                  6.1091      0.214     28.492      0.000       5.689       6.529
Education_Some college or technical school       3.7512      0.214     17.495      0.000       3.331       4.171
Gender_Female                                    2.0749      0.214      9.677      0.000       1.655       2.495
Income_$15,000 - $24,999                         5.7413      0.214     26.777      0.000       5.321       6.162
Income_$25,000 - $34,999                         4.2147      0.214     19.657      0.000       3.794       4.635
Income_$35,000 - $49,999                         3.8822      0.214     18.106      0.000       3.462       4.303
Income_$50,000 - $74,999                         3.2444      0.215     15.121      0.000       2.824       3.665
Income_Less than $15,000                         7.2254      0.214     33.698      0.000       6.805       7.646
Race/Ethnicity_2 or more races                   3.9351      0.222     17.688      0.000       3.499       4.371
Race/Ethnicity_American Indian/Alaska Native     8.8359      0.257     34.378      0.000       8.332       9.340
Race/Ethnicity_Asian                           -17.1364      0.258    -66.520      0.000     -17.641     -16.631
Race/Ethnicity_Hispanic                          3.9665      0.217     18.285      0.000       3.541       4.392
Race/Ethnicity_Non-Hispanic Black               10.1968      0.236     43.290      0.000       9.735      10.659
==============================================================================
Omnibus:                      541.420   Durbin-Watson:                   1.188
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1668.337
Skew:                           0.006   Prob(JB):                         0.00
Kurtosis:                       4.669   Cond. No.                     1.29e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.29e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [34]:
# Lasso regression
from sklearn.linear_model import Lasso

lasso = Lasso(alpha=0.03)  # Specify the regularization strength
lasso.fit(X_train, y_train)

# Print the coefficients of the Lasso regression model
coef = pd.Series(lasso.coef_, index=X.columns)
print("Lasso picked " + str(sum(coef != 0)) + " variables and eliminated the other " +  str(sum(coef == 0)) + " variables")
selected = coef[(coef!=0)]

Lasso picked 20 variables and eliminated the other 1 variables

In [35]:
l_features = selected.index.to_list()

In [36]:
# Predict the outcome variable for the testing data
y_pred = lasso.predict(X_test)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print("Mean Absolute Error: {:.2f}".format(mae))
print("Mean Squared Error: {:.2f}".format(mse))
print("Root Mean Squared Error: {:.2f}".format(rmse))
print("R-squared: {:.2f}".format(r2))

Mean Absolute Error: 3.84
Mean Squared Error: 24.80
Root Mean Squared Error: 4.98
R-squared: 0.54

In [37]:
from sklearn.tree import DecisionTreeRegressor
# Create a decision tree regressor object
regressor = DecisionTreeRegressor()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Train the decision tree model on the training data
regressor = regressor.fit(X_train, y_train)

# Use the trained model to make predictions on the test data
y_pred = regressor.predict(X_test)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print("Mean Absolute Error: {:.2f}".format(mae))
print("Mean Squared Error: {:.2f}".format(mse))
print("Root Mean Squared Error: {:.2f}".format(rmse))
print("R-squared: {:.2f}".format(r2))
# Calculate the mean squared error of the model
mse = mean_squared_error(y_test, y_pred)

print("Mean squared error:", mse)

Mean Absolute Error: 3.72
Mean Squared Error: 23.91
Root Mean Squared Error: 4.89
R-squared: 0.56
Mean squared error: 23.914354608728626

In [23]:
from scipy import stats
features_corr = ['YearStart','Age(years)_18 - 24', 'Age(years)_25 - 34','Age(years)_35 - 44', 'Age(years)_45 - 54', 'Age(years)_55 - 64',
       'Education_College graduate','Education_High school graduate', 'Education_Less than high school',
       'Education_Some college or technical school', 'Income_$15,000 - $24,999', 'Income_$25,000 - $34,999',
       'Income_$35,000 - $49,999', 'Income_$50,000 - $74,999','Income_$75,000 or greater', 'Income_Data not reported','Income_Less than $15,000', 'Race/Ethnicity_2 or more races','Race/Ethnicity_American Indian/Alaska Native', 'Race/Ethnicity_Asian',
       'Race/Ethnicity_Hawaiian/Pacific Islander', 'Race/Ethnicity_Hispanic','Race/Ethnicity_Non-Hispanic Black','Race/Ethnicity_Non-Hispanic White', 'Race/Ethnicity_Other']
for var in features_corr:
    print(var)
    print(stats.pointbiserialr(f_data[var], y =y))

YearStart
SignificanceResult(statistic=0.25651088311377573, pvalue=1.2743729831940965e-214)
Age(years)_18 - 24
SignificanceResult(statistic=-0.3564791020071797, pvalue=0.0)
Age(years)_25 - 34
SignificanceResult(statistic=-0.0444492241391078, pvalue=9.823318864828528e-08)
Age(years)_35 - 44
SignificanceResult(statistic=0.09621097230341051, pvalue=6.7338512272106935e-31)
Age(years)_45 - 54
SignificanceResult(statistic=0.1525949763447867, pvalue=1.3976315727551852e-75)
Age(years)_55 - 64
SignificanceResult(statistic=0.12225193028065656, pvalue=5.784388265310128e-49)
Education_College graduate
SignificanceResult(statistic=-0.16973326282861415, pvalue=2.552231210223823e-93)
Education_High school graduate
SignificanceResult(statistic=0.05478433867915492, pvalue=4.999630079672575e-11)
Education_Less than high school
SignificanceResult(statistic=0.10478183584818751, pvalue=2.3076758529279852e-36)
Education_Some college or technical school
SignificanceResult(statistic=0.03868957992932928, pvalue=3.505059318606626e-06)
Income_$15,000 - $24,999
SignificanceResult(statistic=0.09447395664886099, pvalue=7.563584829221877e-30)
Income_$25,000 - $34,999
SignificanceResult(statistic=0.051681505235959664, pvalue=5.708589080036411e-10)
Income_$35,000 - $49,999
SignificanceResult(statistic=0.04236348701237638, pvalue=3.781735061700314e-07)
Income_$50,000 - $74,999
SignificanceResult(statistic=0.024321587185686347, pvalue=0.0035520799942948635)
Income_$75,000 or greater
SignificanceResult(statistic=-0.08552369568545468, pvalue=9.720371999257913e-25)
Income_Data not reported
SignificanceResult(statistic=-0.12991515328994135, pvalue=4.081321394850441e-55)
Income_Less than $15,000
SignificanceResult(statistic=0.13607191236507216, pvalue=2.457890547668149e-60)
Race/Ethnicity_2 or more races
SignificanceResult(statistic=0.042279381071536865, pvalue=3.9878932883653735e-07)
Race/Ethnicity_American Indian/Alaska Native
SignificanceResult(statistic=0.14455508815092102, pvalue=6.156342886022027e-68)
Race/Ethnicity_Asian
SignificanceResult(statistic=-0.4393105404285507, pvalue=0.0)
Race/Ethnicity_Hawaiian/Pacific Islander
SignificanceResult(statistic=0.06705357768321375, pvalue=8.585166050130384e-16)
Race/Ethnicity_Hispanic
SignificanceResult(statistic=0.043842453552235296, pvalue=1.4631842377251247e-07)
Race/Ethnicity_Non-Hispanic Black
SignificanceResult(statistic=0.19596407084564027, pvalue=2.408803750151649e-124)
Race/Ethnicity_Non-Hispanic White
SignificanceResult(statistic=-0.052907977664113495, pvalue=2.2160211848485953e-10)
Race/Ethnicity_Other
SignificanceResult(statistic=-0.05082856789534237, pvalue=1.0886063132141942e-09)