In [13]:
# import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [14]:
data = pd.read_csv("data_Q037.csv")
data.describe()

,YearStart,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Number_people
count,14367.000000,14367.000000,14367.000000,14367.000000,14367.000000,14367.000000,14367.000000
mean,2016.024988,34.511582,34.511582,29.864641,39.672576,3174.769820,1126.668337
std,3.154388,4.740965,4.740965,5.766647,5.544128,15322.730325,5455.415160
min,2011.000000,10.100000,10.100000,4.200000,19.200000,50.000000,6.000000
25%,2013.000000,31.700000,31.700000,26.700000,36.500000,494.000000,162.000000
50%,2016.000000,35.000000,35.000000,30.900000,39.300000,1044.000000,367.000000
75%,2019.000000,37.600000,37.600000,34.000000,42.200000,2175.500000,787.000000
max,2021.000000,59.200000,59.200000,43.200000,76.300000,371552.000000,132645.000000

In [15]:
data.head(20)

,YearStart,LocationAbbr,Class,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Age(years),Education,...,Race/Ethnicity,GeoLocation,ClassID,TopicID,QuestionID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1,Number_people
0,2011,AK,Obesity / Weight Status,38.9,38.9,33.6,44.4,559,35 - 44,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Age (years),35 - 44,AGEYR,AGEYR3544,218
1,2011,AK,Obesity / Weight Status,38.9,38.9,34.4,43.6,773,55 - 64,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Age (years),55 - 64,AGEYR,AGEYR5564,301
2,2011,AK,Obesity / Weight Status,32.0,32.0,24.7,40.4,212,18 - 24,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Age (years),18 - 24,AGEYR,AGEYR1824,68
3,2011,AK,Obesity / Weight Status,43.3,43.3,38.5,48.1,718,45 - 54,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Age (years),45 - 54,AGEYR,AGEYR4554,311
4,2011,AK,Obesity / Weight Status,40.9,40.9,35.2,47.0,600,65 or older,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Age (years),65 or older,AGEYR,AGEYR65PLUS,246
5,2011,AK,Obesity / Weight Status,38.7,38.7,32.7,45.2,451,25 - 34,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Age (years),25 - 34,AGEYR,AGEYR2534,175
6,2011,AK,Obesity / Weight Status,38.0,38.0,33.6,42.6,981,NaN,High school graduate,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Education,High school graduate,EDU,EDUHSGRAD,373
7,2011,AK,Obesity / Weight Status,39.9,39.9,36.0,43.9,1150,NaN,College graduate,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Education,College graduate,EDU,EDUCOGRAD,459
8,2011,AK,Obesity / Weight Status,40.1,40.1,35.9,44.5,954,NaN,Some college or technical school,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Education,Some college or technical school,EDU,EDUCOTEC,383
9,2011,AK,Obesity / Weight Status,35.3,35.3,27.3,44.4,245,NaN,Less than high school,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Education,Less than high school,EDU,EDUHS,87
10,2011,AK,Obesity / Weight Status,31.3,31.3,28.1,34.6,1716,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Gender,Female,GEN,FEMALE,538
11,2011,AK,Obesity / Weight Status,45.3,45.3,41.8,48.9,1620,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Gender,Male,GEN,MALE,734
12,2011,AK,Obesity / Weight Status,33.5,33.5,26.2,41.7,377,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Income,"$15,000 - $24,999",INC,INC1525,127
13,2011,AK,Obesity / Weight Status,24.6,24.6,17.9,32.7,271,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Income,"Less than $15,000",INC,INCLESS15,67
14,2011,AK,Obesity / Weight Status,42.3,42.3,35.2,49.7,397,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Income,"$35,000 - $49,999",INC,INC3550,168
15,2011,AK,Obesity / Weight Status,43.7,43.7,37.0,50.7,434,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Income,Data not reported,INC,INCNR,190
16,2011,AK,Obesity / Weight Status,39.9,39.9,36.0,44.0,1109,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Income,"$75,000 or greater",INC,INC75PLUS,443
17,2011,AK,Obesity / Weight Status,38.1,38.1,29.8,47.2,224,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Income,"$25,000 - $34,999",INC,INC2535,86
18,2011,AK,Obesity / Weight Status,41.6,41.6,35.8,47.6,524,NaN,NaN,...,NaN,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Income,"$50,000 - $74,999",INC,INC5075,218
19,2011,AK,Obesity / Weight Status,37.4,37.4,25.2,51.5,84,NaN,NaN,...,Hispanic,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,Race/Ethnicity,Hispanic,RACE,RACEHIS,32

In [16]:
columns = data.columns
for col in columns:
    print(col)

YearStart
LocationAbbr
Class
Data_Value
Data_Value_Alt
Low_Confidence_Limit
High_Confidence_Limit
Sample_Size
Age(years)
Education
Gender
Income
Race/Ethnicity
GeoLocation
ClassID
TopicID
QuestionID
StratificationCategory1
Stratification1
StratificationCategoryId1
StratificationID1
Number_people

In [17]:
cat_variable = ['Age(years)','Education', 'Gender', 'Income','Race/Ethnicity']
for var in cat_variable:
    print(var)

Age(years)
Education
Gender
Income
Race/Ethnicity

In [18]:
one_hot_cncoded = pd.get_dummies(data[cat_variable], dummy_na = True)

In [19]:
one_hot_cncoded

,Age(years)_18 - 24,Age(years)_25 - 34,Age(years)_35 - 44,Age(years)_45 - 54,Age(years)_55 - 64,Age(years)_65 or older,Age(years)_nan,Education_College graduate,Education_High school graduate,Education_Less than high school,...,Income_nan,Race/Ethnicity_2 or more races,Race/Ethnicity_American Indian/Alaska Native,Race/Ethnicity_Asian,Race/Ethnicity_Hawaiian/Pacific Islander,Race/Ethnicity_Hispanic,Race/Ethnicity_Non-Hispanic Black,Race/Ethnicity_Non-Hispanic White,Race/Ethnicity_Other,Race/Ethnicity_nan
0,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14362,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14363,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14364,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
14365,0,0,0,0,0,0,1,0,0,0,...,1,1,0,0,0,0,0,0,0,0
14366,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [20]:
data = data.drop(cat_variable, axis = 1)

In [21]:
f_data = data.join(one_hot_cncoded)

In [22]:
for var in f_data:
    print(var)

YearStart
LocationAbbr
Class
Data_Value
Data_Value_Alt
Low_Confidence_Limit
High_Confidence_Limit
Sample_Size
GeoLocation
ClassID
TopicID
QuestionID
StratificationCategory1
Stratification1
StratificationCategoryId1
StratificationID1
Number_people
Age(years)_18 - 24
Age(years)_25 - 34
Age(years)_35 - 44
Age(years)_45 - 54
Age(years)_55 - 64
Age(years)_65 or older
Age(years)_nan
Education_College graduate
Education_High school graduate
Education_Less than high school
Education_Some college or technical school
Education_nan
Gender_Female
Gender_Male
Gender_nan
Income_$15,000 - $24,999
Income_$25,000 - $34,999
Income_$35,000 - $49,999
Income_$50,000 - $74,999
Income_$75,000 or greater
Income_Data not reported
Income_Less than $15,000
Income_nan
Race/Ethnicity_2 or more races
Race/Ethnicity_American Indian/Alaska Native
Race/Ethnicity_Asian
Race/Ethnicity_Hawaiian/Pacific Islander
Race/Ethnicity_Hispanic
Race/Ethnicity_Non-Hispanic Black
Race/Ethnicity_Non-Hispanic White
Race/Ethnicity_Other
Race/Ethnicity_nan

In [23]:
features = ['Age(years)_18 - 24', 'Age(years)_25 - 34','Age(years)_35 - 44','Education_High school graduate', 'Education_Less than high school',
       'Education_Some college or technical school', 'Gender_Female', 'Income_$15,000 - $24,999', 'Income_$25,000 - $34,999',
       'Income_$35,000 - $49,999','Income_Less than $15,000', 'Race/Ethnicity_2 or more races','Race/Ethnicity_American Indian/Alaska Native', 'Race/Ethnicity_Asian',
       'Race/Ethnicity_Hispanic','Race/Ethnicity_Non-Hispanic Black']
"""features = ['YearStart','Age(years)_18 - 24', 'Age(years)_25 - 34','Age(years)_35 - 44', 'Age(years)_45 - 54', 'Age(years)_55 - 64',
       'Education_College graduate','Education_High school graduate', 'Education_Less than high school',
       'Education_Some college or technical school', 'Income_$15,000 - $24,999', 'Income_$25,000 - $34,999',
       'Income_$35,000 - $49,999', 'Income_$50,000 - $74,999','Income_$75,000 or greater', 'Income_Data not reported','Income_Less than $15,000', 'Race/Ethnicity_2 or more races','Race/Ethnicity_American Indian/Alaska Native', 'Race/Ethnicity_Asian',
       'Race/Ethnicity_Hawaiian/Pacific Islander', 'Race/Ethnicity_Hispanic','Race/Ethnicity_Non-Hispanic Black','Race/Ethnicity_Non-Hispanic White', 'Race/Ethnicity_Other']"""
X = f_data[features]

In [24]:
y = f_data['Data_Value']

In [25]:
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [26]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X, i) for i in range(X.shape[1])]
vif["features"] = features

In [27]:
vif

    VIF Factor                                      features
0     0.130730                            Age(years)_18 - 24
1     0.130730                            Age(years)_25 - 34
2     0.130730                            Age(years)_35 - 44
3     0.130730                Education_High school graduate
4     0.130730               Education_Less than high school
5     0.130730    Education_Some college or technical school
6     0.130730                                 Gender_Female
7     0.130730                      Income_$15,000 - $24,999
8     0.130730                      Income_$25,000 - $34,999
9     0.130730                      Income_$35,000 - $49,999
10    0.130730                      Income_Less than $15,000
11    0.051852                Race/Ethnicity_2 or more races
12    0.340206  Race/Ethnicity_American Indian/Alaska Native
13    0.336788                          Race/Ethnicity_Asian
14    0.106457                       Race/Ethnicity_Hispanic
15    0.458774             Race/Ethnicity_Non-Hispanic Black

In [28]:
#corr_matrix = f_data[["Age(years)_65 or older","Data_Value"] ].corr(f_data["Data_Value"])
corr_matrix = f_data.corr()
corr_matrix[abs(corr_matrix["Data_Value"]) >0.09].index

C:\Users\sanga\AppData\Local\Temp\ipykernel_19208\3329703734.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = f_data.corr()

Index(['YearStart', 'Data_Value', 'Data_Value_Alt', 'Low_Confidence_Limit',
       'High_Confidence_Limit', 'Age(years)_18 - 24', 'Age(years)_45 - 54',
       'Age(years)_55 - 64', 'Age(years)_65 or older',
       'Education_College graduate', 'Gender_Female', 'Gender_Male',
       'Income_$50,000 - $74,999', 'Income_$75,000 or greater',
       'Income_Less than $15,000', 'Race/Ethnicity_Asian'],
      dtype='object')

In [29]:
corr_features = ['YearStart', 'Age(years)_18 - 24','Age(years)_35 - 44', 'Age(years)_45 - 54', 'Age(years)_55 - 64','Education_College graduate', 'Education_Less than high school','Income_$15,000 - $24,999','Income_Less than $15,000','Race/Ethnicity_American Indian/Alaska Native', 'Race/Ethnicity_Asian','Race/Ethnicity_Non-Hispanic Black']

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [31]:
model.fit(X_train, y_train)

LinearRegression()

In [32]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [33]:
# Predict the outcome variable for the testing data
y_pred = model.predict(X_test)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print("Mean Absolute Error: {:.2f}".format(mae))
print("Mean Squared Error: {:.2f}".format(mse))
print("Root Mean Squared Error: {:.2f}".format(rmse))
print("R-squared: {:.2f}".format(r2))

Mean Absolute Error: 2.69
Mean Squared Error: 13.86
Root Mean Squared Error: 3.72
R-squared: 0.38

In [34]:
import statsmodels.api as sm

In [35]:
# Create a new matrix of predictors with a constant column added
X_new = sm.add_constant(X)

# Create a new linear regression model using statsmodels
model_sm = sm.OLS(y, X_new).fit()

# Print the summary of the model to get the p-values
model_sm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             Data_Value   R-squared:                       0.389
Model:                            OLS   Adj. R-squared:                  0.388
Method:                 Least Squares   F-statistic:                     570.4
Date:                Sun, 30 Apr 2023   Prob (F-statistic):               0.00
Time:                        08:57:21   Log-Likelihood:                -39208.
No. Observations:               14367   AIC:                         7.845e+04
Df Residuals:                   14350   BIC:                         7.858e+04
Df Model:                          16
Covariance Type:            nonrobust
================================================================================================================
                                                   coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------
const                                           37.0651      0.050    743.069      0.000      36.967      37.163
Age(years)_18 - 24                             -11.2342      0.161    -69.887      0.000     -11.549     -10.919
Age(years)_25 - 34                              -3.9245      0.161    -24.414      0.000      -4.240      -3.609
Age(years)_35 - 44                              -1.4498      0.161     -9.019      0.000      -1.765      -1.135
Education_High school graduate                  -2.3843      0.161    -14.833      0.000      -2.699      -2.069
Education_Less than high school                 -3.5091      0.161    -21.830      0.000      -3.824      -3.194
Education_Some college or technical school      -2.3731      0.161    -14.763      0.000      -2.688      -2.058
Gender_Female                                   -7.5673      0.161    -47.076      0.000      -7.882      -7.252
Income_$15,000 - $24,999                        -4.3483      0.161    -27.050      0.000      -4.663      -4.033
Income_$25,000 - $34,999                        -2.4228      0.161    -15.072      0.000      -2.738      -2.108
Income_$35,000 - $49,999                        -1.0291      0.161     -6.402      0.000      -1.344      -0.714
Income_Less than $15,000                        -7.5570      0.161    -47.011      0.000      -7.872      -7.242
Race/Ethnicity_2 or more races                  -4.6642      0.167    -27.894      0.000      -4.992      -4.336
Race/Ethnicity_American Indian/Alaska Native    -3.9208      0.195    -20.130      0.000      -4.303      -3.539
Race/Ethnicity_Asian                            -6.0452      0.195    -30.962      0.000      -6.428      -5.662
Race/Ethnicity_Hispanic                         -0.8780      0.163     -5.395      0.000      -1.197      -0.559
Race/Ethnicity_Non-Hispanic Black               -3.5015      0.178    -19.708      0.000      -3.850      -3.153
==============================================================================
Omnibus:                     1293.559   Durbin-Watson:                   1.830
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9163.065
Skew:                           0.003   Prob(JB):                         0.00
Kurtosis:                       6.912   Cond. No.                         8.48
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [36]:
from sklearn.tree import DecisionTreeRegressor
# Create a decision tree regressor object
regressor = DecisionTreeRegressor(max_depth=100, max_features=3)
#X = data[cat_variable]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=43)
# Train the decision tree model on the training data
regressor = regressor.fit(X_train, y_train)

# Use the trained model to make predictions on the test data
y_pred = regressor.predict(X_test)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print("Mean Absolute Error: {:.2f}".format(mae))
print("Mean Squared Error: {:.2f}".format(mse))
print("Root Mean Squared Error: {:.2f}".format(rmse))
print("R-squared: {:.2f}".format(r2))
# Calculate the mean squared error of the model
mse = mean_squared_error(y_test, y_pred)

print("Mean squared error:", mse)

Mean Absolute Error: 2.62
Mean Squared Error: 13.03
Root Mean Squared Error: 3.61
R-squared: 0.40
Mean squared error: 13.029855229262491

In [37]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(regressor, X,y, cv=50, scoring='r2')
scores

array([0.35128724, 0.43782947, 0.35353526, 0.40552346, 0.40825138,
       0.34827957, 0.49608832, 0.35180181, 0.4390527 , 0.40856211,
       0.4809962 , 0.40494384, 0.43100987, 0.40424091, 0.41186787,
       0.42991378, 0.41892591, 0.44047618, 0.34465421, 0.36886434,
       0.37107682, 0.37276368, 0.43111351, 0.39166368, 0.43308375,
       0.4099166 , 0.37371068, 0.32199913, 0.37362465, 0.40436685,
       0.33461952, 0.3994508 , 0.3322534 , 0.32744877, 0.41461524,
       0.43345272, 0.25803891, 0.21127964, 0.41603123, 0.35471561,
       0.36403935, 0.35094382, 0.30841722, 0.35013979, 0.41507835,
       0.32468109, 0.24216179, 0.27030242, 0.4055943 , 0.22747355])

In [38]:
L = []
for i in range(1,1000):
    dtree =DecisionTreeRegressor(max_depth=i)
    dtree.fit(X_train,y_train)
    y_pred = dtree.predict(X_test)
    L.append(r2_score(y_test, y_pred))

print(max(L))

0.40384743166267134

In [39]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 49)
rf.fit(X_train, y_train)
# Use the trained model to make predictions on the test data
y_pred = rf.predict(X_test)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print("Mean Absolute Error: {:.2f}".format(mae))
print("Mean Squared Error: {:.2f}".format(mse))
print("Root Mean Squared Error: {:.2f}".format(rmse))
print("R-squared: {:.4f}".format(r2))
# Calculate the mean squared error of the model
mse = mean_squared_error(y_test, y_pred)

print("Mean squared error:", mse)

Mean Absolute Error: 2.62
Mean Squared Error: 13.03
Root Mean Squared Error: 3.61
R-squared: 0.4040
Mean squared error: 13.027366219483264

In [40]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(rf, X,y, cv=5, scoring='r2')
scores.mean()
scores.var()

0.0012509564629823687

In [11]:
from scipy import stats

In [23]:
for var in features:
    print(var)
    print(stats.pointbiserialr(f_data[var], y =y))

YearStart
SignificanceResult(statistic=-0.09946207498494734, pvalue=6.463752776359736e-33)
Age(years)_18 - 24
SignificanceResult(statistic=-0.37858793826625176, pvalue=0.0)
Age(years)_25 - 34
SignificanceResult(statistic=-0.05979321473393889, pvalue=7.350403014362764e-13)
Age(years)_35 - 44
SignificanceResult(statistic=0.048135244647465686, pvalue=7.812669664962324e-09)
Age(years)_45 - 54
SignificanceResult(statistic=0.09102969890079145, pvalue=8.0335855779318265e-28)
Age(years)_55 - 64
SignificanceResult(statistic=0.13162134368186032, pvalue=1.5453406217057206e-56)
Education_College graduate
SignificanceResult(statistic=0.10668287968648638, pvalue=1.2226550536599516e-37)
Education_High school graduate
SignificanceResult(statistic=0.007380700160963844, pvalue=0.3763704294357703)
Education_Less than high school
SignificanceResult(statistic=-0.04167432477055407, pvalue=5.825275056295801e-07)
Education_Some college or technical school
SignificanceResult(statistic=0.007869399277262747, pvalue=0.34558997556318266)
Income_$15,000 - $24,999
SignificanceResult(statistic=-0.07827492676851527, pvalue=5.677182037256032e-21)
Income_$25,000 - $34,999
SignificanceResult(statistic=0.005699871382178237, pvalue=0.4945142821577673)
Income_$35,000 - $49,999
SignificanceResult(statistic=0.06648367510486966, pvalue=1.4989990108242635e-15)
Income_$50,000 - $74,999
SignificanceResult(statistic=0.11119464404095093, pvalue=9.25438205764648e-41)
Income_$75,000 or greater
SignificanceResult(statistic=0.15396081692237196, pvalue=6.368572951516461e-77)
Income_Data not reported
SignificanceResult(statistic=-0.06425074303715, pvalue=1.2726053205510378e-14)
Income_Less than $15,000
SignificanceResult(statistic=-0.2182131782674974, pvalue=1.987884220661532e-154)
Race/Ethnicity_2 or more races
SignificanceResult(statistic=-0.08798299596016618, pvalue=4.309862320621413e-26)
Race/Ethnicity_American Indian/Alaska Native
SignificanceResult(statistic=-0.04804794273835887, pvalue=8.313805320940578e-09)
Race/Ethnicity_Asian
SignificanceResult(statistic=-0.12237750453709428, pvalue=4.618887278256285e-49)
Race/Ethnicity_Hawaiian/Pacific Islander
SignificanceResult(statistic=-0.03346091044513475, pvalue=6.033929113570554e-05)
Race/Ethnicity_Hispanic
SignificanceResult(statistic=0.0720320664205751, pvalue=5.408076484848774e-18)
Race/Ethnicity_Non-Hispanic Black
SignificanceResult(statistic=-0.036893406364489505, pvalue=9.722532211919202e-06)
Race/Ethnicity_Non-Hispanic White
SignificanceResult(statistic=0.04063708304195222, pvalue=1.1022393248906074e-06)
Race/Ethnicity_Other
SignificanceResult(statistic=0.033278217959583294, pvalue=6.619440257685638e-05)

In [136]:
Lasso.coef_

AttributeError: type object 'Lasso' has no attribute 'coef_'

In [141]:
print(scores.mean())
print(scores.var())

0.3729832491630172
0.0012509564629823687

In [75]:
sklearn.metrics.get_scorer_names()

NameError: name 'sklearn' is not defined